/* *********** FOOTER *********** */

.footer {
  margin-top: 50px;

  .footer-inner {
    border-top: 1px solid $c-dark-grey;

    .copyright {
      color: #9faabb;
    }
  }
}

#return-to-top {
  color: #8f9bad;
  font-size: 13px;
  border: 1px solid $c-dark-grey;
  text-decoration: none;
  border-radius: 25px;
  padding: 6px 20px;
  z-index: map-get($z-index, 'postbox');
  @include transition-03;

  &:hover {
    color: $c-primary;
    border-color: $c-primary;
  }

  i {
    font-size: 11px;
    vertical-align: middle;
    margin-right: 10px;
  }
}

/* *** responsiveness *** */

.inner-wrapper-sticky {
  transform: none !important;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: auto !important;
}

@media only screen and (max-width: 767px) {
  .featured-post-lg {
    .thumb .inner {
      height: 425px;
    }

    .post-title {
      font-size: 26px;
    }

    .details {
      @include direction($left: 30px, $bottom: 30px, $right: 30px);
    }
  }

  .search-popup .search-content {
    padding: 0px 20px;
    width: 100%;
  }

  .post-carousel-widget .post-carousel {
    margin: 0 12px;

    .post-title {
      font-size: 16px;
    }
  }

  .post.post-list {
    .thumbs {
      float: none;
      max-width: 550px;
    }

    .details {
      margin-left: 0;
      margin-top: 25px;
    }
  }

  .post .meta li {
    &::after {
      content: '';
      margin-left: 0.5rem;
    }

    &:not(:last-child) {
      margin-right: 0.3rem;
    }
  }

  .instagram-feed .insta-item {
    text-align: center;
    margin: 2.5px 0;
  }

  .footer-inner {
    text-align: center;
  }
} ;
